################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/EVMManagementStore/FileContentIndex/2580c44e-7e27-4e3f-b98c-5aece1a1f190.vsidx
/.vs/EVMManagementStore/FileContentIndex/7228c263-f19e-4c60-81e5-f956ce39abd8.vsidx
