# Build results
bin/
obj/
out/

# Static web assets cache
*.staticwebassets.build.json
*.staticwebassets.development.json
*.staticwebassets.runtime.json

# User-specific files
*.user
*.userosscache
*.suo
*.sln.docstates

# VS Code / Visual Studio
.vscode/
.vs/

# Logs
*.log

# NuGet
*.nupkg
*.snupkg
*.nuspec
*.nuget.props
*.nuget.targets
packages/

# Publish outputs
wwwroot/lib/
wwwroot/dist/
